.positionbox {
  width: 100%;
  height: 100%;
  position: relative;
}

.thing {
  position: absolute;
}

#_1 {
  transform: rotateZ(0);
}

.red {
  background: red;
}

#_2 {
  transform: rotateZ(120deg);
}

.green {
  background: green;
}

#_3 {
  transform: rotateZ(240deg);
}

.blue {
  background: blue;
}

.dot {
  /*background: red;*/
  border-radius: 1rem; 
  height: 1rem;
  width: 1rem;

  transform: translateY(0);

  animation-name: vert;
  animation-duration: 2s;
 /* animation-timing-function: linear;*/
  animation-iteration-count: infinite;
}

@keyframes vert {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(900%); 
  }

  100% {
    transform: translateY(0);
  }
}

.vertbar {
  /*background: #333;*/
  height: 10rem;
  width: 1rem;
  
  display: flex;
  justify-content: center;
  /*align-items: center;*/

  transform: translate(0);

  animation-name: horz;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes horz {
  0% {
    transform: translateX(0);
  }

  33% {
    transform: translateX(100%); 
  }

  66% {
    transform: translateX(-100%); 
  }
  
  100% {
    transform: translateX(0);
  }
}

.horzshift {
  /*background: #777;*/
  height: 10rem;
  width: 5rem;
  
  display: flex;
  justify-content: center;
  /*align-items: center;*/

  transform: translate(0);

  animation-name: rot;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}



@keyframes rot {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.rotbox {
  /*background: #ccc;*/
  height: 10rem;
  width: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
